<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
      <h3>Enter the text to generate gibberish anagrams</h3>
      <input type="text" class="form-control" formControlName="inputString">
      <button class="btn btn-success marginTop" type="submit">submit</button>
    </form>
  </div>
</div>
<div class="row marginTop">
  <div class="col-xs-12">
    <button [ngClass]="{ 'btn': true }" (click)="changeOrder()">
          {{sortOrder}}
          <span [ngClass]="{ 
            'glyphicon': true,
            'glyphicon-triangle-bottom': sortOrder == 'descendingOrder',
            'glyphicon-triangle-top': sortOrder == 'ascendingOrder' }"></span>
        </button>
  </div>
</div>